body{
    margin: 0 auto;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main{
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    min-width: 1200px;
    background-size: cover;
}
.main-span{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 40px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    position: absolute;
    top: 16px;
    right: 44px;
}
.main-span-one{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.main-span-two{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 24px;
    color: #18cfab;
    text-align: left;
}

.main-menu{
     width: 100%;
     height: 120px;

    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("");
}
.main-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    /*margin: 0;*/
    /*padding: 0;*/
}
.menu-item{
    /*display: inline-block;*/
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 13px;
    color: white;
    /*text-align: left;*/
    padding:50px 10px;
    list-style-type: none;
    text-transform: uppercase;
    /*color: inherit;*/
    text-decoration: none;
    display: inline-block;
}
.menu-item2{
    padding-right: 260px;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 15.4281pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.menu-item1{
    padding-right: 30px;
    position: relative;
}

.wrap-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-p1{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 35px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 240px;
}
.main-p2{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 69.39649px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 42px;
}
.main-p3{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light,sans-serif;
    font-size: 29.86685px;
    color: rgba(212, 212, 212, 255);
    text-align: center;
    padding-top: 35px;
    margin-bottom: 130px;
}
.main-b1{
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 12.66233px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-bottom: 248px;
}
.main-b2{
    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 12.66233px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-left: 28px;
    margin-bottom: 248px;
}

.icon1{
    /*width: 400px;*/
    height: 374px;
    background-color: #1c2a33;
    /*display: inline-block;*/
}
.icon2{
    /*width: 400px;*/
    height: 374px;
    background-color: #18cfab;
    /*display: inline-block;*/
 }
.icon3{
    /*width: 400px;*/
    height: 374px;
    background-color: #1c2a33;
    /*display: inline-block;*/
 }
.icon4{
    /*width: 400px;*/
    height: 374px;
    background-color: #18cfab;
    /*display: inline-block;*/

}

.main-logo{
    display: flex;
    align-items: center;

}
.logo {
    width: 60px;
    padding-left: 20px;
}
.icon1-img,
.icon2-img,
.icon3-img,
.icon4-img{
    padding-top: 55px;
    padding-left: 200px;
}

.wrapper-four-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper-four-blocks div:nth-child(even) {
    border-top: 6px #ffffff solid;

}

.wrapper-four-blocks div:nth-child(odd) {
    border-top: 6px #18cfab solid;

}


.wrapper-four-blocks div {
    width: 25%;
}

.icon1, .icon2, .icon3, .icon4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper-four-blocks div h2{
    margin-top: 50px;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
/*.icon1>p,*/
/*.icon2>p,*/
/*.icon3>p,*/
/*.icon4>p{*/
/*    padding-left: 150px;*/
/*    padding-top: 20px;*/
/*    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;*/
/*    font-size: 20px;*/
/*    color: rgba(255, 255, 255, 255);*/
/*    text-align: left;*/
/*}*/

/*.wrapper-our-service-str1{*/
/*    background-color: #00cbf6;*/
/*    color: #00cbf6;*/
/*    text-align: center;*/
/*    width: 78px;*/
/*}*/
/*.wrapper-our-service-str2{*/
/*    color: #00cbf6;*/
/*    text-align: center;*/
/*    width: 78px;*/
/*}*/

/*.wrapper-our-service hr,*/
/*.oaw-str,*/
/*.wrapper-breaking-news hr,*/
/*.wrapper-what-people hr*/
/*.wrapper-gallery-of-best hr{*/
/*    width: 78px;*/
/*    border-bottom:  1px solid  #18cfab;*/
/*    box-shadow: 10px 7px #18cfab;*/
/*    margin-top: 30px;*/

/*}*/
hr{
    width: 78px;
    border-bottom:  1px solid  #18cfab;
    box-shadow: 10px 7px #18cfab;
    margin-top: 30px;
}
.wrapper-our-service{
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction: column;*/

}
/*.oaw-str {*/
/*    width: 78px;*/
/*    border-bottom:  1px solid  #18cfab;*/
/*    box-shadow: 10px 7px #18cfab;*/
/*    margin-top: 30px;*/

/*}*/
.wrap-oaw{
    text-align: center;
    background-color: #f8fcfe;
}

.our-s,
.oaw,
.breaking-news,
.gallery-of-best{
    text-align: center;
    padding-top: 82px;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
 }
.img-str{
    text-align: center;
    padding-top: 20px;
}
.menu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*width: 757px;*/
    margin: 0;
    /*padding: 0;*/
    padding-top: 30px;
    /*padding-left: 389px;*/
    text-align: center;
    padding-bottom: 25px;

}
.active{

}

/*.menu2 li {*/
/*    list-style-type: none*/
/*}*/

.menu2 li.tabs-menu2{
    text-transform: uppercase;
    /*color: inherit;*/
    text-decoration: none;
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 16.40184px;
    color: rgba(113, 113, 113, 255);
    text-align: center;
    border: #ebebeb 1px solid;
    width: 192px;
    height: 60px;
    padding-top: 38px;
    background-color: #f8fcfe;
}
.menu2 li.active{
    color: rgba(255, 255, 255, 255);
    background-color: #18cfab;
}
ul.tabs-menu2-content li{
    display: none;
}

ul.tabs-menu2-content li.active{
    display: block;
}
.img6{
    float: left;
    /*padding-left: 390px;*/
    /*text-align: center;*/
}
/*.img6-text{*/
/*    display: inline-block;*/
/*    padding-left: 550px;*/
/*}*/
.text7{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 39.55001px;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    padding-top: 128px;
}
.text8{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    text-align: center;
    padding-top: 35px;
}
.text78{
    background-image: url(../img/7.png);
    width: 100%;
    height: 476px;
    text-align: center;
    margin-top: 200px;
    background-size: cover;

    /*background: linear-gradient(*/
    /*        rgba(0, 0, 0, 0.1),*/
    /*        rgba(0, 0, 0, 0.1)*/
    /*), url("");*/

}
.text78 button {
    background-color: #18cfab;
    width: 165px;
    height: 61px;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 12.66233px;
    color: rgba(255, 255, 255, 255);
    margin-top: 80px;
}
.menu3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*width: 100%;*/
    margin: 0;
    padding-top: 30px;
}

.menu3 li {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 14px;
    color: rgba(113, 113, 113, 255);
    text-align: center;
    border: #ebebeb 1px solid;
    width: 192px;
    height: 58px;
    padding-top: 38px;
}

.menu3 li.active{
    color: #74e2cd;
    border-top: 1px #18cfab solid ;
}
#grid {
    margin-top: 71px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
.img-grid{
    /*width: 100%;*/
    /*height: 100%;*/
    display: none;
}
.img-grid.active{
    display: block;
    width: 100%;
    height: 100%;
}
.img-grid.not-visible{
    display: none;
}
#grid > div {
    padding: 0px;
    background: white;
    text-align: center;
}
#grid > div>p{
    padding-top: 50px;
}

.wrap-oaw button{
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    text-align: center;
    margin-top: 71px;
    margin-bottom: 100px;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
  }
.wrapper-breaking-news table{
    width: 700px;
    height: 600px;
    border: black 1px solid;
    margin-top: 70px;
}
.container{
    margin: 0 auto;
    text-align: center;
}
.container table tr td div{
    width: 263px;
    height: 72px;
    background-color: #f8fcfe;
}
.container-div{
    width: 263px;
    height: 72px;
    background-color:#f8fcfe ;
}
.container-p1{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 18.47736px;
    color: rgba(113, 113, 113, 255);
    text-align: center;
    margin-top: 14px;
}
.container-p2{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    font-size: 14.37128px;
    color: rgba(119, 119, 119, 255);
    text-align: center;
    margin-top: 14px;
}
.wrapper-what-people{
    background-image: url(../img/section-3.jpg);
    min-width: 1200px;
    height: 851px;
    margin-top: 133px;
    text-align: center;
    background-size: cover;
}
.what-people{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 98px;
}
.wrapper-what-people-quotes{
    margin-top: 69px;
}
.wrapper-what-people-p{
    width: 1097px;
    height: 46px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    font-size: 16px;
    color: rgba(187, 187, 187, 255);
    /*text-align: center;*/
    /*margin-top: 46px;*/
    margin: 0 auto;
    padding-top: 46px;
}
.wrapper-what-people-hasan{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, ﻿Montserrat-Light;
    font-size: 16px;
    color: rgba(24, 207, 171, 255);
    padding-top: 43px;
    padding-bottom: 20px;
    }
.wrapper-what-people-ux{
color: #747f83;
}

.img-four-fot{
    padding: 18px;
    display: inline-block;
    border-radius: 50%;
}
.first-img-four-fot{
    width: 30px;
    height: 30px;
    border: #b2b3b4 1px solid;
    display: inline-block;
    position: relative;
    top: 30px;
    color: white;
    font-size: 14px;
}
.main-fot{
    border-radius: 50%;
    padding: 27px;
    border: 4px solid #0c352f;
}
.img-four-fot2{
    display: inline-block;
}
.four-fot{
    display: flex;
    position: absolute;
    /*left: 50%;*/
   margin-left: 40%;

}

.footer-copyr{
    width: 100%;

    background-color: #22353f;
    margin-top: 230px;
    padding-top: 54px;
    padding-bottom: 54px;
}
.footer-copyr>p{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light;
    font-size: 14pt;
    color: rgba(174, 174, 174, 255);
    text-align: center;
}
.footer-copyr>p>span{
    color: #1c9180;
}
.fas{
    margin-top: 9px;
}