html{
    height: 100%;
  }
body{
    height: 100%;

}


.wrapper {
    background-image: url(../img/rana.png);
    background-size: cover;
    height: 100%;
}



header{
    /*border: #4bcaff 1px solid;*/
    width: 100%;
    height: 56px;


    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("");
}

.header-text{
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    display: inline-block;
    margin-left: 152px;
    margin-top: 22px;
}
.header-text2{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    float: right;
    display: inline-block;
    margin-right: 93px;
    margin-top: 22px;
}
.header-calendar{
    display: inline-block;
    margin-top: 18px;
    margin-left: 992px;
}
.header-forum{
    display: inline-block;
    margin-top: 18px;
    margin-left: 28px;
}
.header-journey{
    display: inline-block;
    margin-top: 18px;
    margin-left: 28px;
}
span{
    color: #39895d;
}
.main{
    width: 444px;
    height: 584px;
    border-radius: 8px;
    margin: 0 auto;
    background-color: white;
    margin-top: 65px;
    position: relative;
}
.main::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 15px;
    height: 15px;
    background: green;
}
.container{
    width: 322px;
    height: 520px;

    margin: 0 auto;
    padding-top: 29px;
}
a{
    text-decoration: none;
    color: white;
}
.container-text{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
}
.container-text2{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: rgba(60, 184, 120, 255);
    margin-left: 207px;
}
.button-g{
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    border-radius: 6px;
    margin-top: 15px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
}
.button-f{
    width: 157px;
    height: 46px;
    background-color: #305db8;
    border-radius: 6px;
    margin-top: 15px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
}
.jason{
    width: 322px;
    height: 46px;
    border: #eaeaea 1px solid;
    margin-top: 9px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: rgba(190, 190, 190, 255);
}
.lastname{
    width: 322px;
    height: 46px;
    border: #eaeaea 1px solid;
    margin-top: 9px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: rgba(190, 190, 190, 255);
}
.email{
    width: 322px;
    height: 46px;
    border: #eaeaea 1px solid;
    margin-top: 9px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: rgba(190, 190, 190, 255);
}
.choosepas{
    width: 322px;
    height: 46px;
    border: #eaeaea 1px solid;
    margin-top: 9px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: rgba(190, 190, 190, 255);
}
.confirmpas{
    width: 322px;
    height: 46px;
    border: #eaeaea 1px solid;
    margin-top: 9px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: rgba(190, 190, 190, 255);
}
.button-c{
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 22px;
}
.checkbox-cont{
    margin-top: 22px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14px;
    color: rgba(67, 67, 67, 255);
}
.checkbox-text{
    color: #56c18a;
}
.button-f-img{
    padding-right: 15px;
    border-right: #2b54a5 1px solid;
    margin-right: 10px;
}
.button-g-img{
    padding-right: 15px;
    border-right: #c8422d 1px solid;
    margin-right: 10px;
}
.line{
    text-align: center;
    position: relative;
    margin-top: 22px;
    margin-bottom: 10px;
}
.line::before, .line::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    background: #eaeaea;
    top: 8px;

}
.line::before{
    left: 0;
}
.line::after{
    right: 0;
}