body{
    margin: 0;
    padding: 0;
}
li{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    display: inline-block;
    padding: 35px;
    text-transform: uppercase;
}
ul{
    text-align: center;
}
a{
    text-decoration: none;
}
.main{
    background-repeat: no-repeat;
    width: 100%;
    height: 790px;
    text-align: center;
    display: block;
}
h1{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 22px;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    padding-top: 59px;
    padding-bottom: 30px;
    border: 0;
    margin-top: 0;
}
.one-button{
    background-color:#16a085 ;
    width: 192px;
    height: 51px;
    margin-top: 21px;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
}
.sector{
    text-align: center;
    background-color: #f5f6f7;
    height: 670px;
    width: 1280px;
    margin: 0 auto;
}
.one-p,
.two-p{
    padding: 20px;
    width: 1059px;
    margin: 0 auto;
}
.three-p{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, SansSerif;
    font-size: 16px;
    color: rgba(55, 55, 55, 255);
    text-align: right;
    margin: 47px auto 45px auto;
    width: 1059px;
}