.container{
    width: 1192px;
    height: 678px;
    border: 22px #3a4965 solid;
    margin: 0 auto;

}
.button-buy1{
    background-color: #89c331;
    width: 192px;
    height: 49px;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
}
.button-buy2{
    background-color: #f04a56;
    width: 192px;
    height: 49px;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
}
.button-buy3{
    background-color: #20807c;
    width: 192px;
    height: 49px;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
}
.button-cont{
    width: 192px;
    height: 49px;
    background-color: #484848;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
}
.menu-text-one{
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}
.menu-text-two{
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 30px;
    color: rgba(72, 72, 72, 255);

}
.menu-class{
    background-color: #89c331;
    width: 277px;
    height: 70px;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    line-height: 70px;
}
.menu-ultimate{
    background-color: #f04a56;
    width: 277px;
    height: 70px;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    line-height: 70px;
}
.menu-premium{
    background-color: #20807c;
    width: 277px;
    height: 70px;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    line-height: 70px;
}
.menu-first{
    background-color: #fafafa;
    width: 310px;
    height: 156px;
    text-align: center;
    vertical-align: middle;


}
.menu-first-dollar{
    float: left;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 60px;
    color: rgba(72, 72, 72, 255);
    margin-left: 33px;
    margin-top: 18px;
}
.menu-first-cent{
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
    font-size: 24px;
    color: rgba(72, 72, 72, 255);
    padding-top: 22px;
}
.menu-first-text{
    font-family: ﻿AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
}
.first-column,
.second-column,
.three-column,
.four-column{
    width: 310px;
    line-height: 69px;
    text-align: center;
    border-right: #d7d7d7 1px solid;;
}
.second-row,
.four-row,
.six-row{
    background-color: #f2f2f2;
    font-family: ﻿AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
.three-row,
.five-row,
.seven-row{
    background-color: #e3e3e3;
    font-family: ﻿AdobeInvisFont, ﻿Arimo, ﻿Courier,sans-serif;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
.footer-button{
    width: 310px;
    line-height: 110px;
    /*text-align: center;*/
    background-color: #dddddd;
}
.footer-button-row{
    border-right: #d7d7d7 1px solid;
    text-align: center;
}
.first-row{
    border-right: #d7d7d7 1px solid;
}
.td-menu{
    padding-left: 10px;
}
.button-buy3:hover{
    background-color: #f58c59;
}
.button-buy2:hover{
    background-color: darkmagenta;
}
.button-buy1:hover{
    background-color: #4bcaff;
}
.button-cont:hover{
    background-color: #df4a32;
}