.chtopik{
    width: 120px;
    height: 30px;
    background-color: #f04a56;
    color: #89c331;
    margin-left: 800px;
}


.chtopik-background-color1{
    background-color: #c34218;
}

.chtopik-background-color2{
    background-color: #89c331;
}
a{
    text-decoration: none;
}

.glavnoe{
    width: 1480px;
    height: 1282px;
    margin: 0px auto;
}
.verh{
    font-size: 80px;
    margin-top: 61px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;

}
.menu_v{
    background-color: #35444f;
}
.menu{
    width: 960px;
    margin: 0 auto;
    margin-top: 45px;
}

.menu-item{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    padding: 20px 10px;
    margin-left: 40px;
    border: 1px solid transparent;
}
.menu-item:hover{
    background-color: #222f3a;
    border-color:white;
}

.menu-item-link{
    color: #fff;
    font-size: 24px;
}

span{
    color: rgba(255, 255, 255, 255);
}

.raspan{
    color: #4bcaff;
}

p{
    width: 815px;
    height: 114px;
    margin-left: 526px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bar-menu{
    width: 375px;
    display: inline-block;
    vertical-align: top;
    border: 1px black solid;
    padding: 0;
}
.bar-menu-item{
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 30px;
    color: #485863;
    padding: 25px 30px;
    transition:0.4s;
}
.bar-menu-item:hover{
    background: #dbdbdb;
    padding-left: 50px;
}

.bar-menu-item:hover a{
    color:#000;
}

.main_content{
    margin-top: 51px;
}

.kozel{
    display: inline-block;
    height: 529px;
    width: 735px;
    border: 1px black solid;
    padding-left: 267px;
    padding-top: 75px;
    margin-left: 92px;
}
img{
    margin-left: 10%;
    margin-top: 10%;
}


.footer_menu_item{
    display: inline-block;
    padding: 22px 9px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 28px;
    color: #0c1927;
}
.footer_copyr{
    color: rgba(12, 25, 39, 255);
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 24px;
    margin-left: 407px;
}

.footer_content{
    width: 1480px;

    background-color: #b4b7ba;
}
.ramba{
    background-color: #222f3a;
    width: 150px;
    height: 69px;
    padding: 26px 41px 26px 41px;
}

.footer-menu-item-link{
    color:#000;
}

.footer-menu-item-link:hover{
    text-decoration: underline;
    color: #3181a6;
}

