.container{
    margin: 0 auto;
    width: 100%;
    background-color: black;
}
.upper-menu{

}
.menu-item{
    display: flex;
    width: 100%;
    height: 70px;

}
.upper-menu-logo{


}
.architect{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);


}
.upper-menu-li{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold,sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    padding: 50px 30px 50px 30px;
}
.upper-menu-img{
    background: url("..img/heder.jpeg");
}
.logo-arch{
    display: flex;
}