a{
    text-decoration: none;
}
.main-h{
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 80px;
    color: rgba(0, 0, 0, 255);
}
span{
    color: #4bcaff;
}
.main-menu>ul>li{
    display: inline-block;
    padding: 24px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
}
.main-menu>ul>li>a{
    color: white;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
}
.main-menu>ul>li:hover{
    background-color:#222f3a ;
    border-right: 1px solid white;
    border-left: 1px solid white;

}
.main-menu{
    width: 1280px;
    height: 73px;
    background-color: #35444f;
    text-align: center;
}
/*.main{*/
/*   margin: 0 auto;*/
/*}*/
.main-h{
    text-align: left;
    margin-top: 60px;
    margin-bottom: 45px;
}
.sector-menu> ul> li{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 21px;
    color: rgba(72, 88, 99, 255);
    text-align: left;
    list-style-type: none;
    padding: 25px 0px 24px 37px;
}
.sector-menu>ul>li>a{
    color:#495863 ;
}
.container{
    margin: 0 auto;
    width: 1280px;
}
.sector-menu{
    border: 1px solid #35444f;
    margin-top: 50px;
    width: 343px;
    height: 346px;
    display: inline-block;
    /*float: ;*/
    vertical-align: top;
}
.sector-menu>ul>li:hover{
    background-color: #dbdbdb;
    padding-left: 69px;
    margin-left: 1px;

}
.sector-menu>ul>li>a:hover{
    color:black ;
}
.sector-img{
    width: 885px;
    height: 529px;
    border: #35444f 1px solid;
    /*float: left;*/
    display: inline-block;
    /*margin: 0 auto;*/
    text-align: center;
    /*vertical-align: middle;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    margin-left: 40px;
    /*margin-top: 51px;*/
    vertical-align: bottom;
    margin-top: 50px;
}
.sector-double-p{
    width: 815px;
    margin-left: 426px;
    margin-top: 50px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
}
.sector-menu-ul{
    /*margin-top: -155px;*/
}
.footer-menu>ul>li{
    display: inline-block;
    padding: 23px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 24px;
    color: black;
}
.footer-menu{
    background-color: #b4b7ba;
    width: 1280px;
    height: 69px;
    margin-top: 51px;
}
/*.footer-menu>ul>li:hover{*/
/*  text-decoration: underline;*/
/*    color:#6e9aaf ;*/
/*}*/
.footer-menu>ul>li>a:hover{
    text-decoration: underline;
    color:#6e9aaf ;
}
.footer-menu-li{
    float: right;
}
.footer-menu>ul>li>a{
    color: #0c1927;
}
img{
    margin-top: 75px;
}