a{
    text-decoration: none;
}

.container{
    background-image: url("./img/background.png");
    width: 1366px;
    height: 768px;
    margin: 0 auto;
}
.sector-left{
    float: left;
    margin-left: 155px;
    margin-top: 49px;
    clear: both;
    width: 166px;
    height: 44px;
}
.sector-left-first{
    padding-left: 15px;
    padding-top: 10px;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);

}
.sector-left-second{
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    padding-left: 15px;
    display: inline-block;
    margin-top: 11px;

}
.sector-right{
    float: right;
    margin-top: 57px;
    margin-right: 147px;
}
.sector-right-first{
    float: right;
    clear: both;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    padding-top: 5px;
}
.sector-right-second{
    float: right;
    clear: both;
    padding-left: 60px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    padding-top: 10px;
}
.sector-left-img{
    float: left;
}

.sector-right-first{
    float: left;
}
.sector-right-second{
    float: left;
}
/*a{*/
/*    padding: 30px;*/
/*}*/
/*.menu-img-1{*/
/*    float: left;*/
/*}*/
/*.menu-img-2{*/
/*    float: left;*/
/*}*/
/*.menu-img-3{*/
/*    float: left;*/
/*    clear: both;*/
/*}*/
.menu-img{
    margin: 0 auto;
    width: 1142px;
}
.sector{
    height: 141px;
}
.menu-img-1{
    padding: 34px;
    display: inline-block;

}