html, body {
    width: 1400px;
    height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0;
}
h1 {
    color: #14afca;
    font-size: 60px;
    line-height: 75px;
    text-transform: uppercase;
}
h2 {
    color: #576269;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 43px;

}

.bgTower {
    background: black url("../img/bg1.jpg") 100% 100% no-repeat;
    background-size: cover;
    height: 580px;
    clip-path: polygon(
            0% 0%, /* верхняя левая */ 0% 0%, /* верхняя левая */ 100% 0%, /* верхняя правая */ 100% 0%, /* верхняя правая */ 100% 85%, /* нижняя правая */ 50% 100%, /* нижняя правая */ 0% 85%, /* нижняя левая */ 0 100%);
    background-attachment: fixed;

}

.bgTower header {
    background: #fff;
    border: 1px solid white;
    color: black;


}

.bgTower header .container {
    position: relative;
    width: 1030px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bgTower header span {
    text-transform: uppercase;
    color: #14afca;
}

.bgTower header .menuMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin: 0;
    padding: 0;

}

.bgTower header .container .menuMain li {
    list-style-type: none
}

.bgTower header .container .menuMain li a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: inline-block;


}

.bgTower .companyName p {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    color: #424f57;
    font-weight: 300;
}

.responsive {
    background: rgba(0, 0, 0, .7);
    width: 1400px;
    position: absolute;
    height: 620px;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    font-size: 34px;
    line-height: 75px;

}

.responsive h1 {
    margin: 0;
    padding-top: 40px;
    color: #fff;
}

.what {
    text-align: center;
    color: #000;
    height: 420px;
}

.what h1 {
    line-height: 40px;
    color: #14afca;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 100px;
}

.what h2 {
    padding-top: 10px;
}

.what p {
    margin: 0 auto;
    width: 975px;
    height: 93px;
    font-size: 16px;
    line-height: 30px;
    color: #424f57;
    padding-top: 45px;
}

.bgCompanies {
    background: url("../img/bg2.jpg") no-repeat;
    background-size: cover;
    height: 720px;
    background-attachment: fixed;
    clip-path: polygon(
            0% 0%, /* верхняя левая */ 50% 15%, /* верхняя левая */ 100% 0%, /* верхняя правая */ 100% 0%, /* верхняя правая */ 100% 85%, /* нижняя правая */ 50% 100%, /* нижняя правая */ 0% 85%, /* нижняя левая */ 0 100%);
}

.companies {
    background: rgba(0, 0, 0, .7);
    width: 1400px;
    position: absolute;
    height: 720px;
    text-align: center;
    padding-top: 150px;

}

.companies h1 {

}
.companies h2 {
    color: #fff;
}



.logoCompaniesTop {
    padding-top: 50px;
    display: flex;
    width: 980px;
    margin: 0 auto;
    justify-content: space-between;
}

.logoCompaniesBottom {
    padding-top: 70px;
    display: flex;
    width: 980px;
    margin: 0 auto;
    justify-content: space-between;
}

.meetUs {
    width: 1400px;
    height: 720px;
    text-align: center;
    color: #424f57;
}



.meetUs h1 {

    padding-top: 90px;
}


.meetUs .photoMeetUs {
    padding-top: 55px;
    margin: 0 auto;
    width: 1020px;
    display: flex;
    justify-content: space-between;
}

.meetUs .photoMeetUs p {
    padding-top: 40px;
    box-sizing: border-box;
    width: 285px;

}

.bgTestimonials {
    background: url("../img/bg3.jpg") no-repeat;
    background-size: cover;
    height: 580px;
    background-attachment: fixed;
    clip-path: polygon(
            0% 0%, /* верхняя левая */ 50% 15%, /* верхняя левая */ 100% 0%, /* верхняя правая */ 100% 0%, /* верхняя правая */ 100% 85%, /* нижняя правая */ 50% 100%, /* нижняя правая */ 0% 85%, /* нижняя левая */ 0 100%);
}

.testimonials {
    background: rgba(0, 0, 0, .7);
    width: 1400px;
    /*position: absolute;*/
    height: 580px;
    text-align: center;
    /*padding-top: 150px;*/
}

.bgTestimonials .testimonials h1 {
    padding-top: 180px;
}

.bgTestimonials .testimonials h2 {
    padding: 0;
    color: #fff;
}
.bgTestimonials .testimonials blockquote  {
    margin: 0 auto;
    box-sizing: border-box;
    width: 890px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #d3cccc;
    font-weight: 400;
    font-style: italic;
    padding-top: 40px;
}
.bgTestimonials .testimonials p {
    color: #fff;
    font-style: italic;
}

.bgTestimonials .testimonials .author {
    margin: 0 auto;
    width: 700px;
    text-align: right;
    padding: 30px;
}

.why {
    height: 580px;
    margin: auto;
    text-align: center;
}

.why h1 {
    padding-top: 100px;
}

.why .innovation {
    padding-top: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    width: 780px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #576269;
}

.why footer {
    padding-top: 90px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    width: 390px;
    color: #576269;
}
.why footer span {
    font-weight: 700;
}
